@model SmartphoneStore.Web.Models.SmartphoneDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>@Model.ManufacturerName @Model.Model</h2>

<div class="row">
    <div class="col-md-4">
        <div><strong>Monitor:</strong> @Model.MonitorSize</div>
        <div><strong>RAM:</strong> @Model.RamMemorySize</div>
        <div><strong>Price:</strong> @Model.Price</div>
    </div>
    <div class="col-md-4">
        <img src="@Model.ImageUrl" />
    </div>
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <div><strong>Description:</strong> @Model.Description</div>
        }        
    </div>
</div>
<br />
<div>
    Votes: <span id="smartphone-votes">@Model.Votes</span> 
    @if (User.Identity.IsAuthenticated && Model.UserCanVote)
    {
        @Ajax.ActionLink("Vote","Vote",new { id = Model.Id }, new AjaxOptions { InsertionMode=InsertionMode.Replace,UpdateTargetId= "smartphone-votes", HttpMethod="Post",OnSuccess="hideVoteButton" },new {id="vote-button", @class = "btn" })
    }
</div>
<br />
<div id="Comments">
    @foreach (var comment in Model.Comments)
    {
       @Html.Partial("_CommentPartial",comment)
    }
</div>

@if (User.Identity.IsAuthenticated)
{
    using (Ajax.BeginForm("PostComment", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "Comments" }))
    {
        @Html.Hidden("SmartphoneId", Model.Id)
        @Html.TextArea("comment")
        @Html.AntiForgeryToken()
        <br />
        <input type="submit" value="Submit comment" />
    }
}

@section scripts{        
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function hideVoteButton(){
            $("#vote-button").hide();
        }
    </script>
}